/*Items page*/
/*******************************/

body.sticky-footer .content-wrapper {
    width: 95%;
}

/*btn them: canh le*/
li.btn-add-new-item{
    position: absolute;
    right:30px;
 }

.form-inline button.btn.btn-outline-success.btn-sm {
    width: 90px;
	margin-right: 5px;
}
/*table*/
.table.table-hover{
	margin-top: 10px;
}
.thead{
	background-color: #28a745;
	color: #FFFFFF;
}
.select_check{
	width: 5%;
}
.code-bill{
	width:20%;
}
.total-price{
	width: 30% ;
}
.date-bill{
	width:40%;
}
td.input_check {
    padding-left: 50px;
}
