/*Items page*/
/*******************************/

/*btn them: canh le*/
li.btn-add-new-item{
    position: absolute;
    right:30px;
 }

.form-inline button.btn.btn-outline-success.btn-sm {
    width: 90px;
	margin-right: 5px;
}

/*table*/
.table.table-hover{
	margin-top: 10px;
}
.thead{
	background-color: #28a745;
	color: #FFFFFF;
}

#table_details_of_bill thead tr th{
	text-align: center;
}
#table_details_of_bill tbody tr td{
	text-align: center;
}

.container-items{
	width: 100%;
}
.input_del{
	width: 5%;
}
.code-bill {
	width: 15%;
}

.price, .total-price{
	width: 15%;
}
.discount{
	width: 15%;
}
.icon_edit{
	width: auto;
}
.date-bill{
	width: 20%;
}

.bill_details tbody td {
	text-align: center;
}
.bill_details thead th {
	text-align: center;
}
.btn_edit:link{
	color: #28a745;
}
.btn_edit:visited{
	color: #28a745;
}
.btn_edit:active{
	color: green;
}
.btn_edit:hover{
	color: green;	
}
td.input_check {
    padding-left: 50px;
}
.modal-body{
	min-height: 400px;
	overflow-y: scroll;
}