/*Items page*/
/*******************************/

/*btn them: canh le*/
li.btn-add-new-item{
    position: absolute;
    right:30px;
 }

.form-inline button.btn.btn-outline-success.btn-sm {
    width: 90px;
	margin-right: 5px;
}

/*table*/
.table.table-hover{
	margin-top: 10px;
}
.thead{
	background-color: #28a745;
	color: #FFFFFF;
}

.container-items{
	width: 100%;
}

.code-bill {
	width: 15%;
}

.price, .discount, .total-price{
	width: 20%;
}

.date-bill{
	width: auto;
}

.bill_details tbody td {
	text-align: center;
}
.bill_details thead th {
	text-align: center;
}