
body.sticky-footer .content-wrapper {
    width: 95%;
}
li.addnew-button{
    position: absolute;
    right:30px;
 }

 li.addnew-button>.form-inline button{
    margin-right: 10px;
    width: 90px;
 }
 ol.breadcrumb {
    background-color: #FFFFFF;
    margin-bottom: 5px;
 }
/*css cho them san pham*/

.content-addnew {
    width: 600px;
    margin-left: 300px;
    /*
   canh giữa nếu có 1 block
    nhiều block thì dùng{
    display:flex;
    justify-content: center;
    }
  
  */
}

.area-addnew {
    border-top: 1px solid;
    padding-top: 30px;
}

.content-addnew ul li p {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 4px;
}


select {
    width: 220px;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    font: normal 15px/normal "Trebuchet MS", Helvetica, sans-serif;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    background: rgba(252, 252, 252, 1);
    padding: 0 18px;
    color: #838383
}

    