body.sticky-footer .content-wrapper {
    width: 81%;
}

.content-wrapper {
	background-color: #e9ecef
}
.container-import {
    min-height: 500px;
}
.container-import>div{
	width: 100%;
	background-color: #FFFFFF;
	box-sizing: border-box;
	padding: 5px;
	margin: 0px;
}

.container-total {
    min-height: 495px;
    display: flex;
}

.container-import>div{
	padding-left: 50px;
}

.container-import>.form-inline>input{
	margin-right: 50px;
}

.t-head{
	background-color: #28a745;
	color: #FFFFFF;
}

th.th-code {
    width: 17%;
}

th.th-name {
    width: 25%;
}

th.th-price {
    width: 20%;
}
th.th-quantity{
	width: 15%;
}

.container-items{
	flex-grow: 1;
	min-height: 410px;
}

.table-items{
	height:65%;
	overflow-y: scroll; 
}

.container-search{
	height: 165px;
	background-color: #A49090
}

.container-cal {
	width: 25%;
}

.container-handle{
	text-align: center;
}

.container-handle button{
	border: 1px solid;
}
.ul_search{
	display: flex;
}
.ul_search li{
	list-style: none;
	margin-left: 10px;
}
.ul_search li div{
	width: 160px;
	height: 160px;
}