/*Items page*/
/*******************************/

body.sticky-footer .content-wrapper {
    width: 95%;
}

/*btn them: canh le*/
li.btn-add-new-item{
    position: absolute;
    right:30px;
 }

.form-inline button.btn.btn-outline-success.btn-sm {
    width: 90px;
	margin-right: 5px;
}

/* container-items */
.container-items{
	margin-top: 10px;
}
.thead{
	background-color: #28a745;
	color: #FFFFFF;
}
th.input_del{
	width: 5%;
}
td.input_check {
    padding-left: 50px;
}
th.name-bill {
    width: 20%;
}
th.type-item{
	width: 15% ;
}
th.quantity{
	width:15%;
}
th.state{
	width: 30%;
}