/*Items page*/
/*******************************/

body.sticky-footer .content-wrapper {
    width: 95%;
}

/*btn them: canh le*/
li.btn-add-new-item{
    position: absolute;
    right:30px;
 }

.form-inline button.btn.btn-outline-success.btn-sm {
    width: 90px;
	margin-right: 5px;
}

/* container-items */
.container-items{
	margin-top: 10px;
}
.t-head{
	background-color: #28a745;
	color: #FFFFFF;
}

th.select_check {
    width: 5%;
}

th.code-type-item {
    width: 30%;
}
th.name-type-item{
    width: 30;
}

td.input_check {
    padding-left: 50px;
}